[Desktop Entry]
Comment=Frugalware Donations
Exec=xdg-open http://www.frugalware.org/donations
Icon=frugalware-logo
Name=Donate
StartupNotify=true
Terminal=false
Type=Application
Categories=Frugalware;
