[Desktop Entry]
Comment=Frugalware IRC channel (french)
Comment[fr]=Canal IRC Frugalware (francophone)
Exec=xdg-open http://webchat.freenode.net/?channels=frugalware.fr&uio=d4
Icon=frugalware-logo
Name=IRC channel (French)
Name[fr]=Canal IRC (francophone)
StartupNotify=true
Terminal=false
Type=Application
Categories=Frugalware;
