[Desktop Entry]
Comment=Frugalware homepage
Exec=xdg-open http://www.frugalware.org
Icon=frugalware-logo
Name=Homepage
StartupNotify=true
Terminal=false
Type=Application
Categories=Frugalware;
