[Desktop Entry]
Comment=Frugalware GIT
Exec=xdg-open http://git.frugalware.org/
Icon=frugalware-logo
Name=GIT
StartupNotify=true
Terminal=false
Type=Application
Categories=Frugalware;
