[Desktop Entry]
Comment=Frugalware French Users Community
Comment[fr]=Communauté d'utilisateurs francophones de Frugalware
Exec=xdg-open http://www.frugalware.fr/
Icon=frugalware-logo
Name=Frugalware FR
StartupNotify=true
Terminal=false
Type=Application
Categories=Frugalware;
