[Desktop Entry]
Comment=Frugalware development team
Exec=xdg-open http://www.frugalware.org/authors
Icon=frugalware-logo
Name=Developers
StartupNotify=true
Terminal=false
Type=Application
Categories=Frugalware;
