[Desktop Entry]
Comment=Frugalware IRC channel (english)
Exec=xdg-open http://webchat.freenode.net/?channels=frugalware&uio=d4
Icon=frugalware-logo
Name=IRC channel
StartupNotify=true
Terminal=false
Type=Application
Categories=Frugalware;
