[Desktop Entry]
Comment=Frugalware GITweb
Exec=xdg-open http://git.frugalware.org/
Icon=frugalware-logo
Name=GITweb
StartupNotify=true
Terminal=false
Type=Application
Categories=Frugalware;
