[Desktop Entry]
Comment=Frugalware Wiki
Exec=xdg-open http://wiki.frugalware.org
Icon=frugalware-logo
Name=Wiki
StartupNotify=true
Terminal=false
Type=Application
Categories=Frugalware;
